
/* Top */
div.heading {
    margin: -20px;

    height: 160px;
    background-color: dimgray;
}

 div.ueberschrift{
     font-size: 3em;
     font-weight:700;
     text-align:center;
    padding-top:5%;
    color:white;
    align-content: center;
}
.middle {

    margin-left: 30%;
    margin-right: 30%;
}

.introduction {
    margin-top:30px;
    float:left;
    align-content:center;
    background-color: blue;
    color: white;
}
